<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>708541876012-kvc03h81ogkpak719a5df9ht6or9hmtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708541876012-kvc03h81ogkpak719a5df9ht6or9hmtn</string>
	<key>API_KEY</key>
	<string>AIzaSyDzYEPldl14e9DVXo5zdv3lvLjfr0qJDVs</string>
	<key>GCM_SENDER_ID</key>
	<string>708541876012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irswift.Social</string>
	<key>PROJECT_ID</key>
	<string>social-5847f</string>
	<key>STORAGE_BUCKET</key>
	<string>social-5847f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:708541876012:ios:d5ca9a085fe09dfb</string>
	<key>DATABASE_URL</key>
	<string>https://social-5847f.firebaseio.com</string>
</dict>
</plist>